learning_rate      = 3e-5
train_text_encoder = false
text_encoder_lr    = 5e-5

[optimizer_arguments]
lr_scheduler       = "REX"
optimizer_type     = "AdamW8bit"
optimizer_args     = ["weight_decay=0.01"]

[training_arguments]
max_train_epochs    = 5
#protected_tags_file = "/home/bluvoll/Documentos/pipeline download/tags.txt"
loss_type          = "l2"
save_every_n_epochs = 1
save_last_n_epochs  = 5
train_batch_size   = 92
max_grad_norm      = 1
weighted_captions  = false
seed               = 1979645
max_token_length   = 225
lowram             = false
max_data_loader_n_workers = 4
persistent_data_loader_workers = true
save_precision     = "bf16"
mixed_precision    = "bf16"
full_bf16          = true
output_dir         = "/home/bluvoll/stable-diffusion-webui-reForge/models/Stable-diffusion/"
output_name        = "Something-Something"

[model_arguments]
pretrained_model_name_or_path = "/home/bluvoll/stable-diffusion-webui-reForge/models/Stable-diffusion/somebase.safetensors"
#vae="/home/bluvoll/custom-kohya/sd-scripts/tools/black-forest-labs/FLUX.2-dev" #OwO
v2                    = false
sdxl                  = true
gradient_checkpointing = true
gradient_accumulation_steps = 2
sdpa                  = true
logging_dir ="logs"
log_with = "wandb"
wandb_run_name = "Final"

[saving_arguments]
save_model_as = "safetensors"


[dataset_arguments]
cache_latents              = true
cache_latents_to_disk      = true
lr_warmup_steps            = 100
